@import "../../../variables.scss";

.double {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 45px;
}

@media (min-width: $desktop-width) {
  .double {
    flex-direction: row;

    & > *:first-child {
      width: 180px;
    }

    & > *:last-child {
      width: 700px;
    }
  }
}
