@import "../../../variables.scss";

.contacts {
  margin-bottom: 60px;

  & > p {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  &__subtitle {
    margin: 0;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    & > .button {
      // margin: 0 5px;
      width: 48%;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 380px;

    &__subtitle {
      text-align: left;
    }

    &__buttons {
      justify-content: flex-start;

      & > .button {
        width: 140px;
      }
    }
  }
}
