@import "../../../variables.scss";

.staff {

  &__list {
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    margin-bottom: 25px;

    list-style: none;
  }
}

@media (min-width: $tablet-width) {
  .staff {

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
