@import "../../../variables.scss";

.feeds {

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    list-style: none;
  }
}

@media (min-width: $tablet-width) {
  .feeds {

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
