.price {
  display: flex;
  flex-wrap: wrap;
  color: #000000;

  & > .page-title,
  & > .breadcrumbs {
    width: 100%;
  }

  &__title {
    position: relative;
    font-size: 40px;
    margin-top: 0;
    width: 100%;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      content: "";
      display: block;
      width: 220px;
      height: 2px;
      background-color: #000000;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }

  &__products-list {
    padding-left: 20px;
  }

  &__subtitle {
    width: 60%;
    font-size: 24px;
    line-height: 28px;
  }

  &__pricerow:hover {
    cursor: pointer;
    background-color: #e3e3e3;
  }

  &__pricecol {
    border: 2px solid #000000;
    padding: 8px;
    width: 20%;

    &:nth-child(2) {
      text-align: center;
    }
  }

  &__pricelist {
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  &__left,
  &__right {
    flex-basis: 50%;
  }

  &__about {
    flex-basis: 50%;
    margin-bottom: 60px;
  }
}
