@import "../../../variables.scss";

.price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: $dark-font-color;
  overflow: hidden;

  & > .page-title,
  & > .breadcrumbs {
    width: 100%;
  }

  &__title {
    position: relative;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 0;
    padding: 0 10px;
    line-height: 1;
    max-width: 60%;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      content: "";
      display: block;
      width: 76%;
      height: 2px;
      background-color: $main-bg-color;
    }

    &::after {
      right: 100%;
    }

    &::before {
      left: 100%;
    }
  }

  &__products-list {
    padding-left: 20px;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    padding: 0 10px;
  }

  &__pricerow:hover {
    cursor: pointer;
    background-color: $article-bg-color;
  }

  &__pricecol {
    border: 2px solid $main-bg-color;
    padding: 8px;
    width: 100%;

    &:nth-child(2) {
      text-align: center;
    }
  }

  &__pricelist {
    border-collapse: collapse;
    margin-bottom: 20px;

    & > tbody {
      display: block;
    }
  }

  &__left,
  &__right {
    padding: 0 10px;

    & > .price__subtitle {
      padding: 0;
    }
  }

  &__about {
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
    padding: 0 10px;
    margin-top: 0;

    &:last-child {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .price {
    flex-direction: row;

    &__title {
      width: 100%;
      margin-bottom: 40px;
    }

    &__left,
    &__right {
      padding: 0;
      flex-basis: 50%;
    }

    &__subtitle {
      width: 70%;
    }

    &__pricelist {
      width: 100%;
    }

    &__pricecol {
      width: 40%;
    }

    &__about {
      flex-basis: 50%;
    }
  }
}
