.price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #000000;
  overflow: hidden;

  & > .page-title,
  & > .breadcrumbs {
    width: 100%;
  }

  &__title {
    position: relative;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 0;
    padding: 0 10px;
    line-height: 1;
    max-width: 60%;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      content: "";
      display: block;
      width: 76%;
      height: 2px;
      background-color: #000000;
    }

    &::after {
      right: 100%;
    }

    &::before {
      left: 100%;
    }
  }

  &__products-list {
    padding-left: 20px;
  }

  &__subtitle {
    // width: 60%;
    font-size: 24px;
    line-height: 28px;
    padding: 0 10px;
  }

  &__pricerow:hover {
    cursor: pointer;
    background-color: #e3e3e3;
  }

  &__pricecol {
    border: 2px solid #000000;
    padding: 8px;
    width: 100%;

    &:nth-child(2) {
      text-align: center;
    }
  }

  &__pricelist {
    border-collapse: collapse;
    margin-bottom: 20px;

    & > tbody {
      display: block;
    }
  }

  &__left,
  &__right {
    // flex-basis: 50%;
    padding: 0 10px;

    & > .price__subtitle {
      padding: 0;
    }
  }

  &__about {
    // flex-basis: 50%;
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}
