.index-columns {
  box-sizing: border-box;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 278px;
    background-image: url("../../../static/img/separ.png");
    background-repeat: no-repeat;
    transform: translateX(390px);
  }
}
