.gallery {
  width: 300px;

  &__title {
    margin: 0;
  }

  &__content {
    width: 268px;
    height: 170px;
    margin: 10px 0 25px;
    background-image: url("../../../../static/img/studio.jpg");
    background-color: #cccccc;
    border: 7px solid #ffffff;
  }
}
