@import "../../../variables.scss";

.gallery {
  width: 100%;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__content {
    max-width: 490px;
    height: 280px;
    margin: 10px auto 25px;
    background-image: url("../../../../static/img/studio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    border: 7px solid #ffffff;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    & > .button {
      margin: 0 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    width: inherit;

    &__title {
      text-align: left;
    }

    &__content {
      width: 268px;
      height: 170px;
    }
  }
}
