@import "../../variables.scss";

.header {

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
  }

  &__nav-wrapper {
    width: 100%;
    background-color: $header-bg-color;

    & .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__items,
  &__btns {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__items {
    display: flex;
  }

  &__item {
    min-width: 100px;
    padding: 30px 0;
    text-align: center;
  }

  &__btns {
    width: 100px;
    padding: 30px 0;
    text-align: center;
  }

  &__link,
  &__login {
    color: $main-font-color;
  }

  &__link {
    cursor: pointer;
  }

  &__link:hover,
  &__link:focus,
  &__login:hover,
  &__login:focus {
    background-color: $hover-link-color;
  }

  &__login {
    &::before {
      content: "";
      display: inline-block;
      margin-right: 15px;
      width: 14px;
      height: 14px;
      background-image: url("../../../static/img/login.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 1px;
      opacity: .5;
    }
  }
}
