@import "../../../variables.scss";

.appointment {

  &__title {
    margin: 0;
    text-align: center;
  }

  &__form {
    width: 300px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
    width: 140px;
    margin-top: 0;
  }

  &__field {
    width: 100%;
    padding: 3px 9px;
    box-sizing: border-box;
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;

    &:focus {
      border-color: #663d15;
    }
  }
}

.button-appointment {
  width: 100% !important;
}

@media (min-width: $desktop-width) {
  .appointment {
    width: 300px;

    &__title {
      text-align: left;
    }
  }
}
