@import "../../../variables.scss";

.appointment {

  &__title {
    margin: 0;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
    width: 48%;
    margin-top: 0;
  }

  &__field {
    width: 100%;
    padding: 6px 9px;
    box-sizing: border-box;
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;

    &:focus {
      border-color: #663d15;
    }
  }
}

.button-appointment {
  width: 100%o;
  margin-top: 20px;
}

@media (min-width: $desktop-width) {
  .appointment {
    width: 300px;

    &__form {
      width: 300px;
      margin: 0 auto;
    }

    &__item {
      width: 140px;
    }

    &__title {
      text-align: left;
    }
  }
}
