@import "../../../variables.scss";

.news {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 286px;
  margin-bottom: 40px;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__description {
    margin-bottom: 5px;
  }

  &__time {
    text-transform: none;
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .news {
    width: 380px;

    &__title {
      text-align: left;
    }

    &__button {
      margin: 0;
    }
  }
}

