.footer {
  margin-top: auto;
  padding: 40px 0;

  color: #ffffff;

  background-color: #212121;
  // background-image: url("../static/img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;

  & .container {
    display: flex;
  }

  &__contacts {
    width: 320px;
    margin: 0;
    margin-right: 70px;

    a {
      color: #ffffff;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    width: 145px;
    text-align: center;

    ul {
      list-style: none;
    }
  }

  &__social-links {
    display: flex;
    margin: 15px 0;
    padding: 0;
  }

  &__social-button {
    display: block;
    color: #ffffff;
    font-size: 0;
    width: 43px;
    height: 43px;
    background-color: #000000;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center;

    &--vk {
      background-image: url("../../../static/img/vk.svg");
    }

    &--fb {
      background-image: url("../../../static/img/facebook.svg");
    }

    &--inst {
      background-image: url("../../../static/img/instagram.svg");
    }
  }

  &__copyright {
    width: 180px;
    margin: 0;
    margin-left: auto;
    text-align: right;

    & strong:first-child {
      color: #bd0808;
    }

    & .button:hover,
    & .button:focus {
      color: #000000;
      background-color: #ffffff;
    }
  }
}

.button__copyright {
   background-color: #000000;
   color: #ffffff;
   padding: 2px 12px;
   margin-left: 4px;
}

// .inner-page .main-footer {
//   margin-top: 45px;
// }
