@import "../../../variables.scss";

.error {

  &__title,
  &__description {
    font-size: 58px;
    color: $dark-font-color;
    line-height: 1.2;
    text-align: center;
  }

  &__description {
    font-size: 32px;
  }
}
