@import "../../../variables.scss";

.home {
  &__logo {
    display: block;
    width: 368px;
    height: 153px;
    margin: 60px auto;
    font-size: 0;
    background-image: url("../../../../static/img/index-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.index-columns {
  box-sizing: border-box;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 235px;
    width: 8px;
    height: 310px;
    box-sizing: border-box;
    background-image: url("../../../../static/img/separ.png");
    background-repeat: no-repeat;
    transform: rotate(270deg);
  }
}

@media (min-width: $desktop-width) {
  .index-columns {

    &::before {
      left: 50%;
      top: 25%;
      transform: rotate(0deg);
    }
  }
}
