@import "../../variables.scss";

.breadcrumbs {
  display: none;
}

@media (min-width: $desktop-width) {
  .breadcrumbs {
    display: flex;

    &__item {
      position: relative;
      margin-right: 40px;

      &:not(:last-child)::after {
        position: absolute;
        top: 9px;
        right: -24px;
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        background-color: #000000;
        transform: rotate(-45deg);
      }

      &:last-child {
        opacity: .5;
      }
    }
  }
}
