@import "./variables.scss";

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $main-font-color;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ee;
  min-height: 100vh;

  &--home {
    background-image: url("../static/img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: $main-bg-color;
  }

  &--error {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {

  &--error {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
  }
}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  width: 140px;
  padding: 12px 0;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.inner-page {
  color: #000000;
  background-color: #f9f6f3;
  // background-image: url("../static/img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-header {
  margin-bottom: 50px;
  background-color: #000000;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.inner-page .main-navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.index-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 10px;
  margin: 0 10px;
  margin-bottom: 35px;
  color: #000000;

  background-color: #f8f5f2;
  // background-image: url("../static/img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.page-title {
  margin-top: 60px;
  margin-bottom: 28px;
  padding: 0;
  color: #000000;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}
f
.product-photo-preview {
  list-style: none;
}

.product-photos {
  width: 460px;
}

.product-photo-preview li {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

.product-price b {
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.product-info {
  width: 390px;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-info ul {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .container {
    margin: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .index-columns {
    flex-direction: row;
    padding: 50px 80px;
  }
}
