$main-font-color: #ffffff;
$main-bg-color: #000000;
$header-bg-color: #000000;
$main-link-color: #000000;
$hover-link-color: #242424;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
