$main-font-color: #ffffff;
$dark-font-color: #000000;
$main-bg-color: #000000;
$light-bg-color: #ffffff;
$header-bg-color: #000000;
$main-link-color: #000000;
$hover-link-color: #242424;
$light-link-color: #ffffff;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
