//font
$main-font-color: #ffffff;
$dark-font-color: #000000;
$article-font-color: #aeaeae;

//bg
$main-bg-color: #000000;
$light-bg-color: #ffffff;
$header-bg-color: #000000;
$article-bg-color: #e5e5e5;
$item-bg-color: #f8f8f8;
$hover-bg-color: #663d15;

//border
$main-border-color: #000000;
$focus-border-color: #663d15;

$main-link-color: #000000;
$hover-link-color: #242424;
$light-link-color: #ffffff;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
