.feeds-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  // margin-bottom: 20px;
  // margin-right: 20px;
  margin: 11px;
  padding: 16px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    color: #000000;
    margin-bottom: 20px;

    & > img {
      margin: 0 auto;
    }
  }

  // &__description {
  //   padding-left: 20px;
  // }

  &__price {
    margin: auto;
  }

  &__category {
    text-transform: none;
    color: #000000;
    font-size: 28px;
    line-height: 28px;
  }

  &__tag {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 10px 17px;
    background-color: #e5e5e5;
    width: 58%;
    box-sizing: border-box;
    color: #000000;
  }

  &__buy {
    display: inline-block;
    line-height: 20px;
    background-color: #000000;
    padding: 10px 0;
    width: 430px;
    color: #ffffff;
    text-align: center;

    &:hover {
      background-color: #663d15;
    }
  }

  &__image {
    background-color: #d5d5d5a3;
    height: 160px;
  }
}
